:root{
    --text-primary:#ffffff;
    --background-primary:#3B3B3B;
    --border-primary:#E3E0F3;
    --text-header:#009063;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    /* color:var(--text-primary) ;
    background-color: var(--background-primary); */
}
.background-overlay::after{
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.p-accordion,.p-accordion-header,.p-accordion-content,.p-accordion-header-link{
    
}
.p-accordion{
    @apply border-slate-300 border-solid border-0 border-b;
}
.p-accordion-header-link{
    font-size: 20px;
    padding: 10px 10px;
    color: var( --text-header);
}
.p-accordion-header-link:hover .notify-header{
    text-decoration: underline;
}
.p-accordion-content{
    font-size: 16px;
    padding: 15px 10px;
}
.p-dialog-header{
    padding: 10px;
    padding-left: 30px;
    color: var(--text-header);
    border-bottom: 1px solid rgba(var(--border-primary),0.4);
}
.p-button{
    color: var(--text-header);
    border:1px solid var(--text-header);
    background-color: var(--text-primary);
}
.p-toast-message-content{
    padding: 0.75rem;
}
.p-toast-message-text{
    margin-left: 0.5rem;
}
.p-toast-detail{
    margin-top: 0.5rem;
}
.error-log{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}
.showError .error-log{
    max-height: 100px;
}
.stop,.playing .play{
    display: none;
}
.playing .stop{
    display: inline;
}
.active-sidebar{
    overflow: hidden;
}
.sidebar-section{
    left:-100%;
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.active-sidebar .sidebar-section{
    left:-1px;
}
.max-\[768px\]\:text-base .p-message-text{
    font-size: 14px;
    margin-left: 5px;
}