---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2 class="flex items-center gap-2 max-[768px]:text-base">
      <svg
        onclick="document.body.classList.toggle('active-sidebar')"
        class="min-[768px]:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 8 8"
        ><path fill="black" d="M0 1v1h8V1zm0 2.97v1h8v-1zm0 3v1h8v-1z"
        ></path></svg
      >
      <svg
        class="max-[768px]:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        ><path
          fill="#3B3B3B"
          d="M10 3L8 5v2H5C3.85 7 3.12 8 3 9L2 19c-.12 1 .54 2 2 2h16c1.46 0 2.12-1 2-2L21 9c-.12-1-.94-2-2-2h-3V5l-2-2zm0 2h4v2h-4zm1 5h2v3h3v2h-3v3h-2v-3H8v-2h3z"
        ></path></svg
      ><a class="text-[#3B3B3B] max-[768px]:w-4" href="/">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links flex gap-4 max-[768px]:gap-2">
      <HeaderLink
        class="text-[#3B3B3B] text-xl max-[768px]:text-sm max-[768px]:font-medium"
        href="/">Home</HeaderLink
      >
      <HeaderLink
        class="text-[#3B3B3B] text-xl max-[768px]:text-sm max-[768px]:font-medium"
        href="/blog">Blog</HeaderLink
      >
      <HeaderLink
        class="text-[#3B3B3B] text-xl max-[768px]:text-sm max-[768px]:font-medium"
        href="/about">About</HeaderLink
      >
    </div>
    <div class="social-links max-[768px]:hidden">
      <a href="https://twitter.com/healthmeter" target="_blank">
        <span class="sr-only">Follow Health Meter on Twitter/X</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="#3B3B3B"
            d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
          ></path></svg
        >
      </a>
      <a href="https://facebook.com/healthmeter" target="_blank">
        <span class="sr-only">Follow Health Meter on Facebook</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="#3B3B3B"
            d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02"
          ></path></svg
        >
      </a>
      <a href="https://instagram.com/healthmeter" target="_blank">
        <span class="sr-only">Go to healthmeter's Instagram section</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          ><path
            fill="#3B3B3B"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1fdf5;
  }
</style>
